.bodyput{
  background: #34e89e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height:100vh;
margin-top: -10px;
}

.containerput{
    width: 500px;
    height: 670px;
    background-color: #ccc;
   margin-left: 550px;
   margin-top: -90px;
    font-size: 24px;
   
}
.backput{
  margin-left: -1500px;
  margin-top: 10px;
  height:120px;
}
.input{
border-radius: 5px;
height:25px;
margin-top: 10px;
font-size: large;

}
.input[type=text] focus{
width:80%;
}
.label{
color:black;

}

.buttonput {
appearance: button;
background-color: #000;
background-image: none;
border: 1px solid #000;
border-radius: 4px;
box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
box-sizing: border-box;
color: #fff;

}
.buttonput:not([disabled]):active {
box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
transform: translate(2px, 2px);
}

@media (min-width: 768px) {
.buttonput {
padding: 12px 50px;
}
}


